@import "tailwindcss";
@import "tw-animate-css";

:root {
  --bg-color: #f3f4f6;
  --text-color: #1a202c;
  --heading-color: #1a202c;
  --background-color: #ffffff; 
  --card-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  --accent-color: #3473f9;
  --accent-dark: #174ea6;
  --accent-hover: #174ea6;
  --button-bg: #2563eb;
  --button-hover: #174ea6;
  --button-text: #ffffff;
  --hero-bg: #2563eb;
  --hero-text: #ffffff;
  --input-bg: #f3f4f6;
  --border-color: #d1d5db;
  --input-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
  --button-color:#2563eb;

}

[data-theme="dark"] {
  --bg-color: #040b19;           
  --text-color: #050f24;         
  --heading-color: #ffffff;      
  --card-bg: #090f20;
  --card-shadow: 0 2px 12px rgba(0,0,0,0.45);
  --accent-color: #1b446e;       
  --accent-dark: #18426a;
  --accent-hover: #174ea6;
  --button-bg: #2563eb;
  --button-hover: #174ea6;
  --button-text: #f3f4f6;
  --hero-bg: #030c1a;
  --hero-text: #f3f4f6;
  --input-bg: #23262b;
  --border-color: #23262b;
  --input-shadow: inset 0 1px 2px rgba(0,0,0,0.25);
  --button-color:#1b446e;

}

